.Autosuggest {

  &.dropdown {
    display: inline-block;

    .form-group {
      position: relative;

      .form-control {

        background-color: transparent;
        position: relative;
        font-size: 1.1em;

        p.selected {
          padding-right: 26px;
        }

        p:focus {
          outline: none;
        }

        .d-flex {

          position: absolute;
          padding: .375rem .75rem;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          background: none;
          pointer-events: none;

          .fa {
            font-size: 1.5em;
            margin-right: -4px;
            margin-left: 4px;
            pointer-events: all;
          }

          .fade-enter {
            opacity: 0.01;
          }

          .fade-enter-active {
            opacity: 1;
            transition: opacity 500ms ease-in;
          }

          .fade-exit {
            opacity: 1;
          }

          .fade-exit-active {
            opacity: 0.01;
            transition: opacity 500ms ease-in;
          }
        }
      }

      .query {
        min-width: 80px;
        background: transparent;
        flex: 1 1 auto;
        z-index: 1;
      }

      .placeholder {
        opacity: 0.5;
        font-style: italic;
        font-size: 1.1rem;
        position: absolute;
        top: 5px;
        left: 12px;
        user-select: none;
        z-index: 0;
      }
    }

    .dropdown-menu {
      overflow-y: auto;
      max-height: 300px;
      top: 2.75em;

      .dropdown-item .value {
        overflow-x: hidden;
        text-overflow: ellipsis;
      }
    }
  }

}