.Media {

  height: 100%;
  padding: 10px 10px 0px 10px;

  & > * {
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.33);
  }

  .Undefined {

    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 1fr 1.5em 1em;
    grid-template-areas:
            'letter title'
            'letter metadata'
            'path path';
    grid-gap: 0.25em;

    .Letter {
      grid-area: letter;
      width: 90px;
      height: 90px;
      border-radius: 90px;
      padding: 10px;
      text-align: center;
      font-size: 2.75em;
      font-weight: bold;
      color: white;
      box-shadow: 3px 3px 10px gray;
      margin-right: 20px;
    }

    .AutosuggestTitle {
      grid-area: title;
    }

    .Metadata {
      grid-area: metadata;
    }

    .Path {
      grid-area: path;
      text-align: right;
    }
  }

}

.selected .Media > * {
  background-color: lightgoldenrodyellow !important;
  box-shadow: 1px 1px 3px 3px gold;
}

