.MediaPlayer {

  padding: 10px;

  .PlayerContainer {
    margin: auto;
    max-width: 66vw;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.33);
    border-radius: 20px;

    & > div {
      border-radius: 20px;
      video {
        border-radius: 20px;
      }
      .video-react-poster {
        border-radius: 20px;
      }
      .video-react-control-bar {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
      }
    }
  }

  .video-react {
    font-family: "Arial", serif !important;
    font-size: 1em;

    .video-react-big-play-button {
      display: none;
    }

    div[data-current-time] {
      font-family: "Arial", serif !important;
    }
  }
}