@import "../stylesheets/blend-modes.scss";

.Movies {

  overflow: hidden;

  .Media {

    padding: 20px;

    &.selected {
      background-color: lightgoldenrodyellow;
    }

    .Unknown {

      display: flex;
      flex-direction: row;

      .Letter {
        width: 90px;
        height: 90px;
        border-radius: 90px;
        padding: 10px;
        text-align: center;
        font-size: 2.75em;
        font-weight: bold;
        color: white;
        box-shadow: 3px 3px 10px gray;
        margin-right: 20px;
      }

      .Info {
        flex: 1 1 auto;
      }
    }
  }
}
