.Metadata {

  display: flex;
  text-shadow: 1px 1px 2px grey;

  div {
    display: flex;
    flex: 1 1 auto;
    white-space: nowrap;
    overflow: hidden;

    :first-child {
      font-weight: normal;
      margin-right: 10px;
    }

    :last-child {
      font-weight: bold;
      margin-right: 10px;
      flex: 1 1 auto;
    }
  }
}

@media only screen and (max-width: 420px) {
  .Metadata {
    div.FileType {
      display: none;
    }
  }
}
@media only screen and (max-width: 540px) {
  .Metadata {
    div.Audio {
      display: none;
    }
  }
}
@media only screen and (max-width: 860px) {
  .Metadata {
    div {
      span:first-child {
        display: none;
      }
    }
  }
}