.AutosuggestTitle {
  p.form-control {
    background-color: rgba(255, 255, 255, 0.25);
    font-size: 1.10em;
    font-weight: bold;
    padding: 2px 8px;
    margin: auto !important;
    border-color: rgba(204, 204, 204, 0.25);
  }
}

.Undefined .AutosuggestTitle {
  p.form-control {
    background-color: rgba(255, 255, 255, 0.25);
    font-size: 1.20em;
    font-weight: bold;
    padding: 2px 8px;
    margin: auto !important;
    border-color: rgba(204, 204, 204, 0.25);
  }
}