.MovieDetails {

  padding: 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.33);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;

  height: 100%;

  display: flex;
  flex-direction: row;

  .Poster {
    margin-right: 20px;
  }

  .Details {

    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    min-width: 0;

    .Title {
      min-width: 0;
      overflow: hidden;
      text-overflow: ellipsis;

      display: flex;
      font-size: 1.25em;

      & > :first-child {
        flex: 1 1 auto;
        font-weight: bold;
        text-overflow: ellipsis;
        white-space: nowrap;
        min-width: 0;
      }

      & > :last-child {
        margin-left: 20px;
        input {
          max-width: 125px;
          padding: 0 5px 0 5px;
        }
      }
    }

    .Overview {
      flex: 1 1 0px;
      display: flex;
      flex-direction: column;

      :first-child {
        flex: 1 1 0px;
        font-size: 1em;
        text-align: justify;
        overflow: auto;
        text-overflow: ellipsis;
      }
    }

  }
}